h1{
  font-size: 28px;
}
h2{
  color: green;
}
.bg-img{
  height: 130px;
  background: url('~@assets/images/32kb.png');
  background-size: 100% 100%;
}
.img-list{
  img{
    max-width: 100%;
  }
}
.flex{
  display: flex;
  align-items: center;
  justify-content: space-around;
}